################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/DoacaoSangueWS/bin/*
/backend/DoacaoSangueWS/obj/*
/backend/.localhistory/*
/backend/.vs/*
/backend/DoacaoSangueWS/.vs/DoacaoSangueWS/v14/.suo
/backend/DoacaoSangueWS/DoacaoSangueWS/bin
/backend/DoacaoSangueWS/DoacaoSangueWS/obj/Debug
/backend/DoacaoSangueWS/.vs
/backend/DoacaoSangueWS/.localhistory/DoacaoSangueWS
/backend/DoacaoSangueWS/packages
